* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(85, 85, 85);
}
body {
    max-width: 1000px;
    margin: 30px auto;
    font-family: 'Montserrat', sans-serif;
    color: #f0f0f0;
}
header {
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
}
.name {
    padding-top: 1em;
    padding-left: 1em;
}
.name p {
    font-weight: 200;
}
nav {
    height: 70px;
    text-align: center;
    vertical-align: middle;
}
nav ul {
    display: flex;
    list-style: none;
    margin-top: 1.5em;
}
nav ul li {
    padding-left: 2em;
    font-weight: bold;
}
a {
    color: #f0f0f0;
    text-decoration: none;
}
a:hover {
    border-bottom: 2px solid #f0f0f0;
}
main {
    text-align: center;
}
.mainimg {
    width: 33%;
}
main .about {
    display: flex;
    justify-content: space-between;
}
main h2 {
    font-weight: 200;
    margin-top: 2em;
    margin-bottom: 1em;
}
main img {
    width: 95%;
    border: 7px solid #f0f0f0;
    box-shadow: 0px 0px 7px 1px #f0f0f0;
    margin: 0.5em;
}
.text {
    width: 40%;
    text-align: left;
    padding-left: 1em;
}
.list {
    width: 27%;
    padding-left: 3em;
    text-align: left;
}
.text p {
    margin-top: 1em;
    font-weight: 200;
}
.text p:first-child {
    font-weight: 700;
}
.list ul li {
    font-weight: 200;
    margin-top: 0.8em;
}
.last {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.lastimg {
    position: relative;
    overflow: hidden;
}
.lasttext {
    width: 76%;
    position: absolute;
    top: 15%;
    left: 12%;
    background-color: rgba(240, 240, 240, 0.7);
    padding: 1em 3em;
    color: black;
    text-align: left;
    font-size: 13px;
    opacity: 0;
    transition: 0.5s;
}
.lasttext h3, .lasttext p, sup {
    background-color: rgba(240, 240, 240, 0);
    margin-bottom: 0.5em;
}
.lastimg:hover .lasttext, .last2_2:hover .lasttext {
    opacity: 1;
}
img:hover, .lasttext:hover {
    cursor: pointer;
}
.img3 {
    width: 98.5%;
}
.img2 {
    width: 96.5%;
}
